<div
  class="w-full rounded-[24px] h-fit bg-White mt-10 mb-10 pb-0 p-[2em] sm:w-[800px] md:w-[768px] lg:w-[1024px] xl:w-[1280px]"
>
  <!-- progress-bar -->
  <div class="progress">
    <div class="flex justify-between items-center">
      <h1>Application Form</h1>
      <p>
        <span class="date bg-dar">Last Updated</span>
        November 22 2023
      </p>
    </div>
    <div class="h-[90px] mt-[50px] hidden lg:flex items-center gap-[5px]">
      <div class="relative">
        <span class="absolute top-[20%] z-30 left-[39%] text-[32px]">1</span>
        <!-- cicle  -->
        <svg
          class="relative"
          xmlns="http://www.w3.org/2000/svg"
          width="60"
          height="63"
          viewBox="0 0 47 47"
          fill="none"
        >
          <circle cx="23.5" cy="23.5" r="23.5" fill="#3D63F7 " />
        </svg>
      </div>
      <div>
        <p class="app-para">Application</p>
      </div>
      <div class="relative">
        <div class="w-[215px] h-[1px] bg-[#E2E2E2;]"></div>
        <div class="absolute left-[30%] bottom-[-7px] z-10">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            viewBox="0 0 14 14"
            fill="#14AAFF"
          >
            <circle cx="7" cy="7" r="7" fill="#14AAFF" />
          </svg>
        </div>
      </div>
      <div class="app-para">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="63"
          height="63"
          viewBox="0 0 47 47"
          fill="none"
        >
          <circle cx="23.5" cy="23.5" r="23.5" fill="#EDEFF5" />
        </svg>
      </div>
      <div>
        <p class="app-para">Application</p>
      </div>
      <div class="w-[215px] h-[1px] bg-[#E2E2E2;]"></div>
      <div class="">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="63"
          height="63"
          viewBox="0 0 47 47"
          fill="none"
        >
          <circle cx="23.5" cy="23.5" r="23.5" fill="#EDEFF5" />
        </svg>
      </div>
      <div>
        <p class="app-para">Application</p>
      </div>
      <div class="w-[215px] h-[1px] bg-[#E2E2E2;]"></div>
      <div class="">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="63"
          height="63"
          viewBox="0 0 47 47"
          fill="none"
        >
          <circle cx="23.5" cy="23.5" r="23.5" fill="#EDEFF5" />
        </svg>
      </div>
      <div>
        <p class="app-para">Application</p>
      </div>
    </div>
  </div>
  <!-- porgess-bar-ends -->
  <!-- personal-details -->

  <section class="personal-Details">
    <div class="flex gap-[9px] items-center mt-[50px] mb-[30px]">
      <h2 class="">Qualification Details</h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="38"
        height="38"
        viewBox="0 0 38 38"
        fill="none"
      >
        <path
          d="M7.91653 20.8684V25.3175C7.91653 26.4734 8.54986 27.55 9.5632 28.1042L17.4799 32.4267C18.4299 32.9492 19.5699 32.9492 20.5199 32.4267L28.4365 28.1042C29.4499 27.55 30.0832 26.4734 30.0832 25.3175V20.8684L20.5199 26.0934C19.5699 26.6159 18.4299 26.6159 17.4799 26.0934L7.91653 20.8684ZM17.4799 5.57336L4.13236 12.8567C3.03986 13.4584 3.03986 15.0417 4.13236 15.6434L17.4799 22.9267C18.4299 23.4492 19.5699 23.4492 20.5199 22.9267L33.2499 15.9759V25.3334C33.2499 26.2042 33.9624 26.9167 34.8332 26.9167C35.704 26.9167 36.4165 26.2042 36.4165 25.3334V15.1842C36.4165 14.5984 36.0999 14.0759 35.5932 13.7909L20.5199 5.57336C20.0521 5.32387 19.53 5.19336 18.9999 5.19336C18.4697 5.19336 17.9477 5.32387 17.4799 5.57336Z"
          fill="#3D63F7"
        />
      </svg>
    </div>
    <form action="" method="post">
      <div
        class="w-[100%] rounded-[16px] border-[1px] border-Gray200 border: 1px solid #e1dfdf;"
      >
        <div class="flex flex-col gap-2 items-center sm:gap-3">
          <div
            class="w-full flex justify-start border-b items-center p-[1em] border-b-Gray200"
          >
            <h2 class="text10">10th Details</h2>
          </div>
          <div
            class="flex flex-col p-[0.5em] w-1/2 mr-auto gap-2 items-center sm:gap-3"
          >
            <div
              class="flex w-full items-center gap-x-10 mt-2 p-3 rounded-lg h-[50px]"
            >
              <label
                for="hs-checked-radio"
                class="labell text-md text-[black] ms-2"
              >
                Valuation Scheme
              </label>
              <div class="flex">
                <input
                  type="radio"
                  name="hs-default-radio"
                  (change)="update_LabelOf_10th_Scored($event)"
                  class="shrink-0 mt-0.5 -gray-200 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:-gray-700 dark:checked:bg-blue-500 dark:checked:-blue-500 dark:focus:ring-offset-gray-800"
                  id="hs-default-radio"
                />
                <label
                  for="hs-default-radio"
                  class="labell text-md text-gray-500 ms-2 dark:text-gray-400 pointer-events-none"
                >
                  Marks
                </label>
              </div>

              <div class="flex">
                <input
                  type="radio"
                  name="hs-default-radio"
                  (change)="update_Labelof_10th_Max_Scored_Grades($event)"
                  class="shrink-0 mt-0.5 -gray-200 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:-gray-700 dark:checked:bg-blue-500 dark:checked:-blue-500 dark:focus:ring-offset-gray-800"
                  id="hs-checked-radio"
                />
                <label
                  for="hs-checked-radio"
                  class="labell text-md text-gray-500 ms-2 dark:text-gray-400 pointer-events-none"
                >
                  Grade
                </label>
              </div>
            </div>
          </div>
          <div
            class="w-full flex gap-10 items-center flex-col p-[0.5em] pl-[1em] pr-[1em] sm:flex-row"
          >
            <div class="w-full sm:w-1/3 md:w-1/3 lg:1/3">
              <div class="input-container">
                <input
                  class="w-full"
                  type="text"
                  id="input"
                  name="input"
                  placeholder=""
                />
                <label
                  [innerHTML]="Lablel10_Marks_Grades_Scored"
                  for="input"
                  class="placeholder"
                  >Marks Scored</label
                >
              </div>
            </div>
            <div class="w-full sm:w-1/3 md:w-1/3 lg:1/3">
              <div class="input-container">
                <input
                  class="w-full"
                  type="text"
                  id="input"
                  name="input"
                  placeholder=""
                />
                <label
                  [innerHTML]="Lablel10_Marks_Grades_Maximum_Scored"
                  for="input"
                  class="placeholder"
                  >Maximum Marks</label
                >
              </div>
            </div>
            <div class="w-full sm:w-1/3 md:w-1/3 lg:1/3">
              <div class="input-container">
                <input
                  class="w-full"
                  type="text"
                  id="input"
                  name="input"
                  placeholder=""
                />
                <label for="input" class="placeholder">Percentage</label>
              </div>
            </div>
          </div>
          <div
            class="w-full flex gap-10 items-center flex-col p-[0.5em] pr-[1em] pl-[1em] sm:flex-row"
          >
            <div class="w-full sm:w-1/3 md:w-1/3 lg:1/3">
              <div class="input-container">
                <input
                  class="w-full"
                  type="text"
                  id="input"
                  name="input"
                  placeholder=""
                />
                <label for="input" class="placeholder">Board</label>
              </div>
            </div>
            <div class="w-full sm:w-1/3 md:w-1/3 lg:1/3">
              <div class="input-container">
                <input
                  class="w-full"
                  type="text"
                  id="input"
                  name="input"
                  placeholder=""
                />
                <label for="input" class="placeholder">Name Of Institue</label>
              </div>
            </div>
            <div class="w-full sm:w-1/3 md:w-1/3 lg:1/3">
              <div class="input-container">
                <input
                  class="w-full"
                  type="text"
                  id="input"
                  name="input"
                  placeholder=""
                />
                <label for="input" class="placeholder">State </label>
              </div>
            </div>
          </div>
          <div
            class="w-full flex gap-2 p-[0.5em] pb-[2em] pr-[1em] pl-[1em] items-center sm:gap-10"
          >
           
            <div class="w-1/3">
              <div class="input-container">
                <select
                  class="border-[1px] border-Gray200 outline-none py-3 px-4 pe-9 block w-full -gray-200 rounded-lg text-sm"
                >
                  <option selected>Year Of Passing</option>
                  <option>A+</option>
                  <option>B+</option>
                  <option>C+</option>
                </select>
              </div>
            </div>
            <div class="w-1/2 flex items-center gap-5 justify-start ">
              <label for="file-upload" class="upload-button">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="64"
                  height="64"
                  viewBox="0 0 32 32"
                >
                  <path
                    fill="#909090"
                    d="m24.1 2.072l5.564 5.8v22.056H8.879V30h20.856V7.945z"
                  />
                  <path
                    fill="#f4f4f4"
                    d="M24.031 2H8.808v27.928h20.856V7.873z"
                  />
                  <path fill="#7a7b7c" d="M8.655 3.5h-6.39v6.827h20.1V3.5z" />
                  <path fill="#dd2025" d="M22.472 10.211H2.395V3.379h20.077z" />
                  <path
                    fill="#464648"
                    d="M9.052 4.534H7.745v4.8h1.028V7.715L9 7.728a2.042 2.042 0 0 0 .647-.117a1.427 1.427 0 0 0 .493-.291a1.224 1.224 0 0 0 .335-.454a2.13 2.13 0 0 0 .105-.908a2.237 2.237 0 0 0-.114-.644a1.173 1.173 0 0 0-.687-.65a2.149 2.149 0 0 0-.409-.104a2.232 2.232 0 0 0-.319-.026m-.189 2.294h-.089v-1.48h.193a.57.57 0 0 1 .459.181a.92.92 0 0 1 .183.558c0 .246 0 .469-.222.626a.942.942 0 0 1-.524.114m3.671-2.306c-.111 0-.219.008-.295.011L12 4.538h-.78v4.8h.918a2.677 2.677 0 0 0 1.028-.175a1.71 1.71 0 0 0 .68-.491a1.939 1.939 0 0 0 .373-.749a3.728 3.728 0 0 0 .114-.949a4.416 4.416 0 0 0-.087-1.127a1.777 1.777 0 0 0-.4-.733a1.63 1.63 0 0 0-.535-.4a2.413 2.413 0 0 0-.549-.178a1.282 1.282 0 0 0-.228-.017m-.182 3.937h-.1V5.392h.013a1.062 1.062 0 0 1 .6.107a1.2 1.2 0 0 1 .324.4a1.3 1.3 0 0 1 .142.526c.009.22 0 .4 0 .549a2.926 2.926 0 0 1-.033.513a1.756 1.756 0 0 1-.169.5a1.13 1.13 0 0 1-.363.36a.673.673 0 0 1-.416.106m5.08-3.915H15v4.8h1.028V7.434h1.3v-.892h-1.3V5.43h1.4v-.892"
                  />
                  <path
                    fill="#dd2025"
                    d="M21.781 20.255s3.188-.578 3.188.511s-1.975.646-3.188-.511m-2.357.083a7.543 7.543 0 0 0-1.473.489l.4-.9c.4-.9.815-2.127.815-2.127a14.216 14.216 0 0 0 1.658 2.252a13.033 13.033 0 0 0-1.4.288Zm-1.262-6.5c0-.949.307-1.208.546-1.208s.508.115.517.939a10.787 10.787 0 0 1-.517 2.434a4.426 4.426 0 0 1-.547-2.162Zm-4.649 10.516c-.978-.585 2.051-2.386 2.6-2.444c-.003.001-1.576 3.056-2.6 2.444M25.9 20.895c-.01-.1-.1-1.207-2.07-1.16a14.228 14.228 0 0 0-2.453.173a12.542 12.542 0 0 1-2.012-2.655a11.76 11.76 0 0 0 .623-3.1c-.029-1.2-.316-1.888-1.236-1.878s-1.054.815-.933 2.013a9.309 9.309 0 0 0 .665 2.338s-.425 1.323-.987 2.639s-.946 2.006-.946 2.006a9.622 9.622 0 0 0-2.725 1.4c-.824.767-1.159 1.356-.725 1.945c.374.508 1.683.623 2.853-.91a22.549 22.549 0 0 0 1.7-2.492s1.784-.489 2.339-.623s1.226-.24 1.226-.24s1.629 1.639 3.2 1.581s1.495-.939 1.485-1.035"
                  />
                  <path fill="#909090" d="M23.954 2.077V7.95h5.633z" />
                  <path fill="#f4f4f4" d="M24.031 2v5.873h5.633z" />
                  <path
                    fill="#fff"
                    d="M8.975 4.457H7.668v4.8H8.7V7.639l.228.013a2.042 2.042 0 0 0 .647-.117a1.428 1.428 0 0 0 .493-.291a1.224 1.224 0 0 0 .332-.454a2.13 2.13 0 0 0 .105-.908a2.237 2.237 0 0 0-.114-.644a1.173 1.173 0 0 0-.687-.65a2.149 2.149 0 0 0-.411-.105a2.232 2.232 0 0 0-.319-.026m-.189 2.294h-.089v-1.48h.194a.57.57 0 0 1 .459.181a.92.92 0 0 1 .183.558c0 .246 0 .469-.222.626a.942.942 0 0 1-.524.114m3.67-2.306c-.111 0-.219.008-.295.011l-.235.006h-.78v4.8h.918a2.677 2.677 0 0 0 1.028-.175a1.71 1.71 0 0 0 .68-.491a1.939 1.939 0 0 0 .373-.749a3.728 3.728 0 0 0 .114-.949a4.416 4.416 0 0 0-.087-1.127a1.777 1.777 0 0 0-.4-.733a1.63 1.63 0 0 0-.535-.4a2.413 2.413 0 0 0-.549-.178a1.282 1.282 0 0 0-.228-.017m-.182 3.937h-.1V5.315h.013a1.062 1.062 0 0 1 .6.107a1.2 1.2 0 0 1 .324.4a1.3 1.3 0 0 1 .142.526c.009.22 0 .4 0 .549a2.926 2.926 0 0 1-.033.513a1.756 1.756 0 0 1-.169.5a1.13 1.13 0 0 1-.363.36a.673.673 0 0 1-.416.106m5.077-3.915h-2.43v4.8h1.028V7.357h1.3v-.892h-1.3V5.353h1.4v-.892"
                  />
                </svg>
              </label>
              <input id="file-upload" type="file" accept=".pdf" (change)="handleFileInput($event)" />
              <div class="flex flex-col">
                  <label for="file-upload">Upload 10th Marks</label>
                  <div class="flex items-center gap-2">
                      <label style="font-style: italic;" for="file-name">{{ fileName_10th }}</label>
                      <svg *ngIf="fileName_10th" (click)="removeFile()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 36 36">
                          <path fill="#ef4444" d="m19.61 18l4.86-4.86a1 1 0 0 0-1.41-1.41l-4.86 4.81l-4.89-4.89a1 1 0 0 0-1.41 1.41L16.78 18L12 22.72a1 1 0 1 0 1.41 1.41l4.77-4.77l4.74 4.74a1 1 0 0 0 1.41-1.41Z" class="clr-i-outline clr-i-outline-path-1" />
                          <path fill="#ef4444" d="M18 34a16 16 0 1 1 16-16a16 16 0 0 1-16 16m0-30a14 14 0 1 0 14 14A14 14 0 0 0 18 4" class="clr-i-outline clr-i-outline-path-2" />
                          <path fill="none" d="M0 0h36v36H0z" />
                      </svg>
                  </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  <section class="personal-Details mt-5">
    <form>
      <div class="w-[100%] rounded-[16px] border-[1px] border-Gray200">
        <div class="flex flex-col gap-2 items-center sm:gap-2">
          <div
            class="w-full flex justify-start -b items-center p-[1em] border-b-[1px] border-b-Gray200"
          >
            <h2 class="text10">12th Details</h2>
          </div>
          <div
            class="flex flex-col p-[0.5em] w-1/2 mr-auto gap-2 items-center sm:gap-5"
          >
            <div
              class="flex w-full items-center gap-x-10 mt-2 p-3 rounded-lg h-[50px]"
            >
              <label
                for="hs-checked-radio"
                class="labell text-md text-[black] ms-2"
              >
                Valuation Scheme
              </label>
              <div class="flex">
                <input
                  (change)="update_LabelOf_12th_Scored($event)"
                  type="radio"
                  name="hs-default-radio"
                  class="shrink-0 mt-0.5 -gray-200 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:-gray-700 dark:checked:bg-blue-500 dark:checked:-blue-500 dark:focus:ring-offset-gray-800"
                  id="hs-default-radio"
                />
                <label
                  for="hs-default-radio"
                  class="labell text-md text-gray-500 ms-2 dark:text-gray-400 pointer-events-none"
                >
                  Marks
                </label>
              </div>

              <div class="flex">
                <input
                  (change)="update_Labelof_12th_Max_Scored_Grades($event)"
                  type="radio"
                  name="hs-default-radio"
                  class="shrink-0 mt-0.5 -gray-200 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:-gray-700 dark:checked:bg-blue-500 dark:checked:-blue-500 dark:focus:ring-offset-gray-800"
                  id="hs-checked-radio"
                />
                <label
                  for="hs-checked-radio"
                  class="labell text-md text-gray-500 ms-2 dark:text-gray-400 pointer-events-none"
                >
                  Grade
                </label>
              </div>
            </div>
          </div>
          <div
            class="w-full flex gap-10 items-center flex-col p-[1em] sm:flex-row"
          >
            <div class="w-full sm:w-1/3 md:w-1/3 lg:1/3">
              <div class="input-container">
                <input
                  class="w-full"
                  type="text"
                  id="input"
                  name="input"
                  placeholder=""
                />
                <label
                  [innerHTML]="Lablel12_Marks_Grades_Scored"
                  for="input"
                  class="placeholder"
                  >Marks Scored</label
                >
              </div>
            </div>
            <div class="w-full sm:w-1/3 md:w-1/3 lg:1/3">
              <div class="input-container">
                <input
                  class="w-full"
                  type="text"
                  id="input"
                  name="input"
                  placeholder=""
                />
                <label
                  [innerHTML]="Lablel10_Marks_Grades_Maximum_Scored"
                  for="input"
                  class="placeholder"
                  >Maximum Marks</label
                >
              </div>
            </div>
            <div class="w-full sm:w-1/3 md:w-1/3 lg:1/3">
              <div class="input-container">
                <input
                  class="w-full"
                  type="text"
                  id="input"
                  name="input"
                  placeholder=""
                />
                <label for="input" class="placeholder">Percentage</label>
              </div>
            </div>
          </div>
          <div
            class="w-full flex gap-10 items-center flex-col p-[1em] sm:flex-row"
          >
            <div class="w-full sm:w-1/3 md:w-1/3 lg:1/3">
              <div class="input-container">
                <input
                  class="w-full"
                  type="text"
                  id="input"
                  name="input"
                  placeholder=""
                />
                <label for="input" class="placeholder">Board</label>
              </div>
            </div>
            <div class="w-full sm:w-1/3 md:w-1/3 lg:1/3">
              <div class="input-container">
                <input
                  class="w-full"
                  type="text"
                  id="input"
                  name="input"
                  placeholder=""
                />
                <label for="input" class="placeholder">Name Of Institue</label>
              </div>
            </div>
            <div class="w-full sm:w-1/3 md:w-1/3 lg:1/3">
              <div class="input-container">
                <input
                  class="w-full"
                  type="text"
                  id="input"
                  name="input"
                  placeholder=""
                />
                <label for="input" class="placeholder">State </label>
              </div>
            </div>
          </div>

          <div
            class="w-full flex gap-2 p-[1em] items-center sm:gap-10 pb-[2em]"
          >
            <div class="w-1/2 flex justify-start">
              <label for="file-input" class="sr-only">Choose file</label>
              <input
                type="file"
                name="file-input"
                id="file-input"
                class="p-[0.75em] lock w-full border-[1px] border-Gray200 rounded-lg text-sm"
              />
            </div>
            <div _ngcontent-ng-c334554117="" class="w-1/2">
              <div class="input-container">
                <select
                  class="border-[1px] border-Gray200 outline-none py-3 px-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
                >
                  <option>Year Of Passing</option>
                  <option>A+</option>
                  <option>B+</option>
                  <option>C+</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  <section class="guardian mt-5 mb-5 flex justify-center items-center">
    <div class="w-full sm:w-1/3 md:w-1/3 lg:1/3">
      <div class="input-container">
        <select
          class="border-[1px] border-Gray200 outline-none py-3 px-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
          (change)="select($event)"
        >
          <option value="" disabled selected>Results Status</option>
          <option *ngFor="let item of status" [value]="item.status">
            {{ item.status }}
          </option>
        </select>
      </div>
    </div>
  </section>
  <div
    [style.display]="hidemarks ? 'block' : 'none'"
    class="guard w-[100%] rounded-[16px] border-[1px] border-Gray200 p-[0.5em]"
  >
    <form [formGroup]="Form_11thStandard">
      <div class="flex flex-col sm:flex-row gap-10 w-full sm:gap-5 p-[1em]">
        <div class="w-full flex sm:w-1/4 md:w-1/4 lg:1/4">
          <label for="hs-checked-radio" class="labell text-md text-[black]">
            {{ standard }}
          </label>
        </div>
        <div class="w-full flex sm:w-1/4 md:w-1/4 lg:1/4">
          <label for="hs-checked-radio" class="labell text-md text-[black]">
            Marks Scored
          </label>
        </div>
        <div class="w-full flex sm:w-1/4 md:w-1/4 lg:1/4">
          <label for="hs-checked-radio" class="labell text-md text-[black]">
            Maximum Marks
          </label>
        </div>
        <div class="w-full flex sm:w-1/4 md:w-1/4 lg:1/4">
          <label for="hs-checked-radio" class="labell text-md text-[black]">
            Grades Scored
          </label>
          <button
            [style.opacity]="Disable_Add_Button ? '1' : '0.5'"
            class="ml-auto"
            (click)="Add_New_11thRows($event)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="33"
              viewBox="0 0 32 33"
              fill="none"
            >
              <path
                d="M17.6 14.85V8.25H14.4V14.85H8V18.15H14.4V24.75H17.6V18.15H24V14.85H17.6ZM16 33C11.7565 33 7.68687 31.2616 4.68629 28.1673C1.68571 25.0729 0 20.8761 0 16.5C0 12.1239 1.68571 7.92709 4.68629 4.83274C7.68687 1.73839 11.7565 0 16 0C20.2435 0 24.3131 1.73839 27.3137 4.83274C30.3143 7.92709 32 12.1239 32 16.5C32 20.8761 30.3143 25.0729 27.3137 28.1673C24.3131 31.2616 20.2435 33 16 33Z"
                fill="#3D63F7"
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="flex flex-col sm:flex-row gap-10 w-full sm:gap-5 p-[1em]">
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State 1</label>
          </div>
        </div>
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State 2</label>
          </div>
        </div>
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State3 </label>
          </div>
        </div>
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State 4</label>
          </div>
        </div>
      </div>
      <div class="flex flex-col sm:flex-row gap-10 w-full sm:gap-5 p-[1em]">
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State </label>
          </div>
        </div>
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State </label>
          </div>
        </div>
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State </label>
          </div>
        </div>
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State </label>
          </div>
        </div>
      </div>
      <div class="flex flex-col sm:flex-row gap-10 w-full sm:gap-5 p-[1em]">
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State </label>
          </div>
        </div>
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State </label>
          </div>
        </div>
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State </label>
          </div>
        </div>
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State </label>
          </div>
        </div>
      </div>
      <div class="flex flex-col sm:flex-row gap-10 w-full sm:gap-5 p-[1em]">
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State </label>
          </div>
        </div>
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State </label>
          </div>
        </div>
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State </label>
          </div>
        </div>
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State </label>
          </div>
        </div>
      </div>
      <div class="flex flex-col sm:flex-row gap-10 w-full sm:gap-5 p-[1em]">
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State </label>
          </div>
        </div>
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State </label>
          </div>
        </div>
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State </label>
          </div>
        </div>
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State </label>
          </div>
        </div>
      </div>
      <div
        *ngFor="
          let item of Form_11thStandard.get('Marks_11thStandard')['controls'];
          let i = index
        "
        class="flex flex-col items-center sm:flex-row gap-10 w-full sm:gap-5 p-[1em]"
        formArrayName="Marks_11thStandard"
      >
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
              [formControlName]="i"
            />
            <label for="input" class="placeholder">State </label>
          </div>
        </div>
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State </label>
          </div>
        </div>
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State </label>
          </div>
        </div>
        <div class="w-full sm:w-1/4 md:w-1/4 lg:1/4">
          <div class="input-container">
            <input
              class="w-full"
              type="text"
              id="input"
              name="input"
              placeholder=""
            />
            <label for="input" class="placeholder">State </label>
          </div>
        </div>
        <svg
          (click)="Remove_Inserted_11thRows(i)"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 1024 1024"
        >
          <path
            fill="#ff5c5c"
            d="M352 480h320a32 32 0 1 1 0 64H352a32 32 0 0 1 0-64"
          />
          <path
            fill="#ff5c5c"
            d="M512 896a384 384 0 1 0 0-768a384 384 0 0 0 0 768m0 64a448 448 0 1 1 0-896a448 448 0 0 1 0 896"
          />
        </svg>
      </div>
    </form>
  </div>
  <div class="flex gap-2 justify-end mt-7 h-[90px]">
    <a routerLink="/application" routerLinkActive="active">
      <button
        type="button"
        class="py-3 px-4 w-[120px] h-[50px] outline-none border-[1px] border-Gray200 items-center gap-x-2 text-md font-semibold rounded-lg text-gray-500"
      >
        Back
      </button>
    </a>
    <a [routerLink]="['/test']" routerLinkActive="router-link-active">
      <button
        type="button"
        class="py-3 bg-[#DBEAFE] px-4 w-[120px] h-[50px] outline-none items-center gap-x-2 text-md text-Blue500 font-semibold rounded-lg text-gray-500"
      >
        Next
      </button>
    </a>
  </div>
</div>
